.main-div{
    text-align: center;
    margin-top: 15%;
}
.main-div h1{
    font-size: 40px;
}
button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}
button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}